
  html { 
          background:  url(../Icons/background-sunset.png) no-repeat center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          color:white;
      }
      table {
        border-collapse: collapse;
        color: white;
      }
      a:link {
        color: white; 
        background-color: transparent; 
        text-decoration: none;
      }
      
      a:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: white;
        background-color: transparent;
        text-decoration: underline;
      }
      
      a:active {
        color: white;
        background-color: transparent;
        text-decoration: underline;
      }
      .Brain-IP {

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
        list-style: none;
        margin: 0; 
        }
        

        .Brain-IP > * {
          padding: 10px;
          
        }
        .break {  
          flex-basis: 100%;
          height: 0;
        }

      .Brain-IP h2 {
        position: absolute;
        top: 0px;
        text-align: left; 
        left: 0px;
        height: 10px;
      
      text-decoration: none;
        display: block;
        padding: 1em;
        color: grey;
      }

      
      .Brain-IP a {
        text-decoration: none;
        display: block;
        padding: 1em;
        color: white;
      }
      
      .Brain-IP a:hover {
        background: #1565C0;
      }
      .nav {
        display: flex;
        height: 25;      /* optional; just for demo */
      }
      
      .Brain-stuff {
        flex: 1;          /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      
      .showallbutton {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .navigation {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        flex-flow: row wrap;        
        list-style: none;
        margin: 0; 

      }
      
      .navigation h2 {
        position: absolute;
        top: 0px;
        text-align: left; 
        left: 0px;
        height: 10px;
      }
      .navigation a {
        text-decoration: none;
        display: block;
        padding: 1em;
        color: white;
      }      
      .navigation a:hover {
        background: #1565C0;
      }
      
      .actscen {
        font-size: 35px;      }

      @media all and (max-width: 800px) {
        .navigation {
          justify-content: space-around;
        }
      }
      
      @media all and (max-width: 600px) {
        .navigation {
          flex-flow: column wrap;
          padding: 0;
        }
        .navigation a { 
          text-align: center; 
          padding: 10px;
          border-top: 1px solid rgba(255, 255, 255,0.3); 
          border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
        }
        .navigation li:last-of-type a {
          border-bottom: none;
        }
      }
      .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      height: 40%;
      color: green;

    }
    .slidecontainer {
      width: 100%;
    }
      
    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 50%;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    .slider:hover {
      opacity: 1;
    }
    
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      background: #04AA6D;
      cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: #04AA6D;
      cursor: pointer;
    }

    .blinking{
    animation:blinkingText 1.2s infinite;
    }
    @keyframes blinkingText{
        0%{     color: red    }
        49%{    color: red; }
        60%{    color: transparent; }
        99%{    color:transparent;  }
        100%{   color: #000;    }
    }

    * {
      margin: 5;
      padding: 5;
    }

    .image {
      flex: 1;
      height: 80%;
    }

    .LargeRow {
      color: blue;
      display: flex;
      justify-content:center;
      align-items:center;
      height: 250px;
  }
  .horizontal {
    flex-direction:row;
  }
  
  .vertical {
    flex-direction:column;
  }

  .vertical-textlabel {
    flex-direction:column;
    border: 1px solid white;

  }
  .cursors {
    text-align:center;width:40px;
  }

  .buttons {
    text-align:center;width:50px;
  }
  .highbutton {
    height:80px;
  }

  .LargeRow-item {
  padding: 5px;
  width: 100%;
  height: 145px;
  margin: 1px;  
  line-height: 5px;
  color: white;
  font-size: 1em;
  text-align: center;
  }
    .ACTScenario {
      display: flex;  
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;      
      font-weight: bold;
      text-align: center; 
      flex: 1 0 100%;
    }
    
    .ACTScenario > * {
      padding: 10px;
      
    }
    .break {  
      flex-basis: 100%;
      height: 0;
    }
    .ACTScen-deviceIcon {
      flex: 0 0 auto; 
    }
    
    .ACTScen-ScenName {
      flex: 3 0px; 
      text-align: left;
    }
    
    .ACTScen-RoomName {
      text-align: right;
    }
    
    .ACTScen-PowerOff {
      flex: 0 0 auto; 
    }
    

    .BodyRow {
      color: blue;
      display: flex;
      justify-content:center;
      align-items:center;
      height: 150px;
  }
  .horizontal {
    flex-direction:row;
  }
  
  .vertical {
    flex-direction:column;
  }
  .vertical-buttontext {
    flex-direction:column;
    align-items: center;    
    color: white;
    justify-content:center;
    border: 1px solid black;

  }

  .vertical-textlabel {
    flex-direction:column;
    border: 1px solid white;

  }
  .cursors {
    text-align:center;width:40px;
  }

  .buttons {
    text-align:center;width:50px;
  }
  .highbutton {
    height:80px;
  }

  .BodyRow-item {
  padding: 5px;
  width: 100%;
  height: 45px;
  margin: 1px;  
  line-height: 5px;
  color: white;
  font-size: 1em;
  text-align: center;
  }
    body {
      padding: 2em; 
    }
  
  .header {
    background: tomato;
  }
  
  .footer {
    background: lightgreen;
  }
  
  
  body {
    padding: 2em; 
  }
